# string

In [7]:
print('allah')
print('saiful')

allah
saiful

In [8]:
a = "Hello"
print(a)

Hello

# Data types

In [10]:
x = 1.21
y = 1.01
z = -55.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [12]:
a = 1
b = 35656426542432145
c = -45879124

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# list and list length

In [18]:
thislist = ["mango", "orange", "cherry"]
print(thislist)

['mango', 'orange', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [23]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# set

In [24]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

# function

In [25]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [26]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# if and else

In [28]:
a = 80
b = 220
if b > a:
  print("b is greater than a")

b is greater than a

In [30]:
a = 10
b = 45
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

# while Loop

In [32]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [33]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [37]:
fruits = ["apple", "banana", "cherry", "oange"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

apple
banana
cherry